{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANG }}" xml:lang="{{ LANG }}">
  <head>
<!-- Internet Explorer suxx -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>{% trans "Карта астрономов-любителей" %}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed of New Points" href="atom" />
    <link rel="stylesheet" title="Normal style" type="text/css" media="all" href="{% static "map-css2.css" %}" />
  </head>
  <body onload="load()">
    <div id="map"></div>
    <div id="srchspace">
     <div id="srchcont">
      <img alt="" id="srchclose" src="http://maps.gstatic.com/intl/ru_ALL/mapfiles/iw_close.gif" />
      <div id="srchoutput"></div>
     </div>
    </div>
    <div id="error">
Alas, your browser is not supported by <a href="http://maps.google.com">Google Maps</a>.</p><p>Please, try <a href="http://www.getfirefox.com">another browser</a>.
    </div>
    <script type="text/javascript" src="{% url 'astromap.views.cached_javascript_catalog' %}"></script>
    <script type="text/javascript">
      var user_lang = '{{ LANG }}';
      var pts = {{ PTS_JSON|safe }};
      var type = '{{ type }}';
      var extent = 'world';
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_KEY }}&amp;sensor=false"></script>
    <script type="text/javascript" src="{% static "lib/markerclusterer_packed.js" %}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "map-js.js" %}"></script>
    {% if settings.GOOGLE_ANALYTICS_KEY %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS_KEY }}");
pageTracker._trackPageview();
} catch(err) {}</script>
{%  endif %}
  </body>
</html>
